@charset "UTF-8";
@font-face {
  font-family: Pe-icon-7-stroke;
  src: url("../fonts/Pe-icon-7-stroke.woff");
  format: "woff"; }

@font-face {
  font-family: Playfair Display;
  src: url("../fonts/PlayfairDisplay-BoldItalic.otf"); }

@font-face {
  font-family: Work Sans;
  src: url("../fonts/WorkSans-Medium.otf"); }

.hide {
  display: none !important;
  opacity: 0; }

.show {
  visibility: visible !important;
  opacity: 1 !important; }

body {
  margin: 0px;
  overflow-x: hidden; }

.content {
  display: flex;
  flex-direction: column;
  height: 100%; }

.title {
  min-height: 700px;
  position: relative; }
  .title__imageBox {
    position: absolute;
    top: 0px;
    left: 0px; }
  .title__information {
    padding: 100px 0;
    position: relative;
    text-align: center; }

.imageBox {
  width: 100%;
  height: 100%; }
  .imageBox div {
    position: absolute;
    width: 100%;
    top: 0; }
  .imageBox .image {
    height: 100%;
    background: url("../images/home-7.jpg") 50% 50%;
    background-size: cover; }
  .imageBox .shadow {
    height: 100%;
    background: rgba(12, 12, 12, 0.6);
    background-size: cover; }

.information {
  color: white; }
  .information .sentences {
    margin: 0 120px; }
    .information .sentences__topline {
      text-transform: uppercase;
      font-family: inherit;
      font-size: .93rem;
      letter-spacing: .2em;
      margin-bottom: 1.1rem;
      font-weight: 700; }
    .information .sentences__headline {
      font-family: Playfair Display,serif;
      font-size: 3.4rem;
      margin-top: 0px; }

.headline {
  font-weight: 700; }

.header {
  height: 101px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
  background-color: transparent;
  transition-duration: .4s; }
  .header_active {
    background-color: white !important;
    transition-duration: .4s; }
    .header_active .line {
      border-bottom-color: black !important; }
  .header .conteiner {
    padding: 33px 0;
    margin: 0 60px; }
    .header .conteiner__nav {
      font-family: Arial; }
      .header .conteiner__nav .logo {
        display: inline-block;
        cursor: pointer; }
        .header .conteiner__nav .logo__img {
          display: block;
          width: 85px;
          height: 33.02px; }
    .header .conteiner .navbar {
      margin: 9px 0;
      vertical-align: middle;
      float: right; }
      .header .conteiner .navbar__item {
        display: inline-block;
        margin-right: 20px;
        user-select: none; }
      .header .conteiner .navbar__link {
        color: #bfbfbf;
        font-weight: 500; }
      .header .conteiner .navbar__link:hover {
        color: white; }
      .header .conteiner .navbar__link_active {
        color: #5f5f5f; }
      .header .conteiner .navbar__link_active:hover {
        color: #0e0e0e; }
    .header .conteiner .navbar_active {
      float: right;
      margin-top: 9px;
      display: none; }
      .header .conteiner .navbar_active .icon_active {
        display: block; }
        .header .conteiner .navbar_active .icon_active .line {
          border-bottom: 2px solid #d8d8d8;
          display: block;
          width: 20px;
          margin-bottom: 6px; }

a {
  text-decoration: none; }

.about {
  background-color: white; }
  .about__conteiner {
    width: 54.115%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center !important; }
  .about__headline {
    margin-top: 89px;
    font-size: 2.6rem;
    margin-bottom: 35px; }
  .about__text {
    margin-top: 0;
    margin-bottom: 24px; }
  .about__imgbox {
    height: 57px;
    width: 222px;
    margin: 0 auto 105px; }

.text {
  color: #5f5f5f;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: .004em; }

.statistics {
  background: url("../images/bg-pattern.jpg");
  background-size: cover;
  color: white;
  font-family: Work Sans,sans-serif; }
  .statistics__container {
    margin: 78px 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .statistics .item {
    min-height: 50px;
    padding: 30px 15px 0 0;
    position: relative;
    width: 273.02px; }
    .statistics .item__icon {
      display: inline-block;
      position: absolute; }
    .statistics .item__text {
      display: inline-block;
      margin-left: 72px; }
      .statistics .item__text .name {
        text-transform: uppercase;
        font-weight: 700; }
      .statistics .item__text .headline {
        margin-bottom: 7px;
        font-size: 1.25rem; }
  .statistics .icon {
    font-family: Pe-icon-7-stroke;
    font-size: 50px; }
  .statistics .icon_case::before {
    content: "\e622"; }
  .statistics .icon_clock::before {
    content: "\e66b"; }
  .statistics .icon_star::before {
    content: "\e611"; }
  .statistics .icon_heart::before {
    content: "\e642"; }

.portfolio {
  display: flex;
  flex-direction: column; }
  .portfolio__headline {
    margin: 80px 0 20px 0;
    text-align: center;
    font-size: 2.6rem; }
  .portfolio__text {
    margin: 0 325px;
    text-align: center;
    margin-bottom: 52px; }
  .portfolio .projects {
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 119.5px 1fr 1fr 1fr 119.5px;
    grid-auto-columns: 369.98px 369.98px 369.98px;
    height: 1080px;
    grid-template-areas: ". item_1 item_2 item_3 ." ". item_4 item_5 item_6 ." ". item_7 item_8 item_9 ."; }
    .portfolio .projects .item {
      background-size: cover;
      background-position: 50% 50%;
      position: relative;
      color: white; }
      .portfolio .projects .item_active {
        width: 100%;
        height: 100%;
        position: absolute;
        transition-duration: 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
      .portfolio .projects .item_active:hover {
        cursor: pointer;
        transition-duration: 0.5s;
        background: rgba(0, 0, 0, 0.85); }
      .portfolio .projects .item_active:hover .item__text {
        opacity: 1;
        transition-duration: 0.5s;
        transform: translateY(-5px);
        transition: transform .4s .3s,opacity .4s .3s; }
      .portfolio .projects .item_active:hover .item__headline {
        opacity: 1;
        transition-duration: 0.5s;
        transform: translateY(-5px);
        transition: transform .4s .2s,opacity .4s .2s; }
      .portfolio .projects .item__headline {
        text-align: center;
        opacity: 0;
        transform: translateY(5px);
        transition: .2s;
        margin-bottom: 10px;
        font-size: 1.69rem; }
      .portfolio .projects .item__text {
        text-align: center;
        opacity: 0;
        transform: translateY(5px);
        transition: .2s; }
    .portfolio .projects__item_1 {
      grid-area: item_1;
      background-image: url("../images/portfolio-7-sm.jpg"); }
    .portfolio .projects__item_2 {
      grid-area: item_2;
      background-image: url("../images/portfolio-4-sm.jpg"); }
    .portfolio .projects__item_3 {
      grid-area: item_3;
      background-image: url("../images/portfolio-5-sm.jpg"); }
    .portfolio .projects__item_4 {
      grid-area: item_4;
      background-image: url("../images/portfolio-9-sm.jpg"); }
    .portfolio .projects__item_5 {
      grid-area: item_5;
      background-image: url("../images/portfolio-3-sm.jpg"); }
    .portfolio .projects__item_6 {
      grid-area: item_6;
      background-image: url("../images/portfolio-8-sm.jpg"); }
    .portfolio .projects__item_7 {
      grid-area: item_7;
      background-image: url("../images/portfolio-2-sm.jpg"); }
    .portfolio .projects__item_8 {
      grid-area: item_8;
      background-image: url("../images/portfolio-6-sm.jpg"); }
    .portfolio .projects__item_9 {
      grid-area: item_9;
      background-image: url("../images/portfolio-12-sm.jpg"); }

.cursor_grabbing {
  cursor: grabbing; }

.karusel {
  background: url("../images/bg-pattern.jpg");
  background-size: cover;
  color: white; }
  .karusel .box {
    overflow: hidden;
    width: 100%;
    margin-top: 177px; }
    .karusel .box .activate {
      left: 100%; }
    .karusel .box_relative {
      position: relative;
      height: 204.094px;
      cursor: grab; }
    .karusel .box_absolute {
      position: absolute;
      width: 100%;
      user-select: none; }
    .karusel .box_active {
      transition: .7s; }
    .karusel .box__item {
      max-width: 715px;
      margin: auto;
      text-align: center; }
      .karusel .box__item .quote {
        font-size: 1.685rem;
        line-height: 1.45;
        font-family: Playfair Display,serif; }
      .karusel .box__item .quote::before {
        content: "“ "; }
      .karusel .box__item .quote::after {
        content: " ”"; }
      .karusel .box__item .autor {
        font-family: Work Sans;
        text-transform: uppercase;
        font-size: .95rem; }
    .karusel .box .numberbox {
      text-align: center;
      margin: 87px 0 65px 0; }
      .karusel .box .numberbox__list {
        list-style: none;
        padding: 0; }
        .karusel .box .numberbox__list .number {
          display: inline-block;
          height: 10px;
          width: 10px;
          background: white;
          border-radius: 50%;
          opacity: 0.25;
          transform: scale(0.6); }
        .karusel .box .numberbox__list .number_active {
          opacity: 1;
          transform: scale(1);
          transition: .7s; }

.contact {
  background-color: #f6f6f6; }
  .contact__box {
    margin: 100px 119.5px 100px 119.5px;
    display: flex; }
  .contact__container {
    width: 41.666667%;
    font-size: 14px;
    margin-right: 30px; }
  .contact .headline {
    font-size: 2.6rem;
    margin-bottom: 35px;
    margin-top: 0px; }
  .contact .sentence {
    font-family: Work Sans;
    line-height: 1.65;
    letter-spacing: .004em;
    color: #5f5f5f;
    margin-bottom: 24px; }
  .contact .info {
    color: #5f5f5f;
    font-family: Work Sans;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .contact .info__item {
      margin-bottom: 12px; }
    .contact .info strong {
      color: black;
      padding-right: 5px;
      font-size: 16px; }
  .contact__formcontainer {
    width: 58.333333%; }
    .contact__formcontainer .form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column; }
      .contact__formcontainer .form__inputcontainer {
        display: flex;
        justify-content: space-between; }
      .contact__formcontainer .form__input {
        width: 39.7%; }
      .contact__formcontainer .form__btn {
        padding: 18px 25px;
        font-size: .96rem;
        font-weight: 500;
        line-height: 1.2;
        white-space: nowrap;
        color: white;
        width: 213px; }

.btn {
  user-select: none;
  text-transform: uppercase;
  background-color: #252525;
  border: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none; }

.input {
  padding: 16px 22px;
  font-size: .95rem;
  font-weight: 400;
  line-height: 1.2;
  background-color: #fff;
  border: none;
  margin-bottom: 30px;
  font-family: Arial; }

.input:focus {
  color: #55595c;
  background-color: #fff;
  border-color: #66afe9;
  outline: 0; }

.textarea {
  resize: vertical; }

.footer {
  background-color: #ebebeb; }
  .footer__container {
    margin: 44px auto 25px auto;
    display: flex;
    flex-direction: column; }
  .footer__text {
    text-align: center; }
    .footer__text .text {
      margin: 0; }
      .footer__text .text a {
        color: black; }

@media (max-width: 1000px) {
  .information .sentences {
    margin: 0 60px; }
    .information .sentences__headline {
      font-size: 2rem; }
  .portfolio__text {
    margin: 0 140px 52px; }
  .portfolio .projects {
    grid-template-columns: 30px 1fr 1fr 30px;
    height: 1800px;
    grid-template-areas: ". item_1 item_2 ." ". item_3 item_4 ." ". item_5 item_6 ." ". item_7 item_8 ." ". item_9 . ."; }
  .contact__box {
    flex-direction: column; }
  .contact__container {
    width: 100%;
    margin-bottom: 30px; }
  .contact__formcontainer {
    width: 100%; }
  .header .conteiner .navbar {
    display: none; }
  .header .conteiner .navbar_active {
    display: block; } }

@media (max-width: 880px) {
  .about__conteiner {
    width: 80%; } }

@media (max-width: 680px) {
  .portfolio__text {
    margin: 0 60px 52px; }
  .portfolio .projects {
    grid-template-columns: 30px 1fr 30px;
    height: 3240px;
    grid-template-areas: ". item_1 ."  ". item_2 ." ". item_3 ." ". item_4 ." ". item_5 ." ". item_6 ." ". item_7 ." ". item_8 ." ". item_9 ."; }
  .contact__box {
    margin: 100px 30px; }
  .contact__formcontainer .form__inputcontainer {
    flex-direction: column; }
  .karusel .box__item {
    margin: 0 35px; }
    .karusel .box__item .quote {
      font-size: 1.2rem; } }

@media (max-width: 817px) {
  .statistics__container {
    justify-content: center;
    margin: 78px 60px; } }

@media (max-width: 416px) {
  .statistics__container {
    margin: 78px 30px; }
  .contact .form__btn {
    width: 100%; }
  .portfolio .projects {
    height: 2650px; } }

@media (max-width: 450px) {
  .header .conteiner {
    margin: 0 40px; }
  .information .sentences__topline {
    font-size: 0.7rem; }
  .information .sentences__headline {
    font-size: 1.5rem; } }

.navigation {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  background: url("../images/bg-menu.jpg") 50% 50%;
  background-size: cover;
  transition-duration: 0.5s; }
  .navigation .cross {
    display: inline-block;
    width: 18px;
    height: 18px;
    color: #d8d8d8;
    position: relative;
    margin-right: 3px; }
  .navigation .cross::before {
    position: absolute;
    content: "";
    display: block;
    height: 0;
    border-bottom: 2px solid;
    top: 50%;
    left: 0;
    transform-origin: 50% 50%;
    transform: rotate(45deg);
    width: 21px; }
  .navigation .cross::after {
    position: absolute;
    content: "";
    display: block;
    height: 0;
    border-bottom: 2px solid;
    top: 50%;
    left: 0;
    transform-origin: 50% 50%;
    transform: rotate(-45deg);
    width: 21px; }
  .navigation .menu {
    width: 100%;
    position: fixed;
    top: 40%;
    font-family: Arial; }
    .navigation .menu__container {
      margin: 0;
      padding: 0;
      text-align: center; }
    .navigation .menu__item {
      user-select: none;
      margin-bottom: 20px; }
    .navigation .menu__link {
      color: #d8d8d8;
      font-size: 2rem; }
