@font-face
    font-family: Pe-icon-7-stroke
    src: url("../fonts/Pe-icon-7-stroke.woff") 
    format: ("woff")
@font-face
    font-family: Playfair Display
    src: url("../fonts/PlayfairDisplay-BoldItalic.otf")
@font-face
    font-family: Work Sans
    src: url("../fonts/WorkSans-Medium.otf") 
    
.hide
    display: none !important
    opacity: 0
.show
    visibility: visible !important
    opacity: 1 !important
body 
    margin: 0px
    overflow-x: hidden

.content
    display: flex
    flex-direction: column
    height: 100%

.title
    min-height: 700px
    position: relative
    &__imageBox
        position: absolute
        top: 0px
        left: 0px
    &__information
        padding: 100px 0
        position: relative
        text-align: center

.imageBox
    width: 100%
    height: 100%
    div
        position: absolute
        width: 100%
        top: 0
    .image
        height: 100%
        background: url('../images/home-7.jpg') 50% 50%
        background-size: cover
    .shadow
        height: 100%
        background: rgba(12, 12, 12, 0.6)
        background-size: cover

.information
    color: white
    .sentences
        margin: 0 120px
        &__topline
            text-transform: uppercase
            font-family: inherit
            font-size: .93rem
            letter-spacing: .2em
            margin-bottom: 1.1rem
            font-weight: 700
        &__headline
            font-family: Playfair Display,serif
            font-size: 3.4rem
            margin-top: 0px

.headline
    font-weight: 700

.header
    height: 101px
    position: fixed
    top: 0px
    left: 0px
    width: 100%
    z-index: 1
    background-color: transparent
    transition-duration: .4s
    &_active
        background-color: white !important
        transition-duration: .4s
        .line
            border-bottom-color: black !important
    .conteiner
        padding: 33px 0
        margin: 0 60px
        &__nav
            font-family: Arial
            .logo
                display: inline-block
                cursor: pointer
                &__img
                    display: block
                    width: 85px
                    height: 33.02px
        .navbar
            margin: 9px 0
            vertical-align: middle
            float: right
            &__item
                display: inline-block
                margin-right: 20px
                user-select: none
            &__link
                color: #bfbfbf
                font-weight: 500
            &__link:hover
                color: white
            &__link_active
                color: #5f5f5f
            &__link_active:hover
                color: #0e0e0e
        .navbar_active
            float: right
            margin-top: 9px
            display: none
            .icon_active
                display: block
                .line
                    border-bottom: 2px solid #d8d8d8
                    display: block
                    width: 20px
                    margin-bottom: 6px

a
    text-decoration: none

.about
    background-color: white
    &__conteiner
        width: 54.115%
        margin: auto
        display: flex
        flex-direction: column
        text-align: center !important
    &__headline
        margin-top: 89px
        font-size: 2.6rem
        margin-bottom: 35px
    &__text
        margin-top: 0
        margin-bottom: 24px
    &__imgbox
        height: 57px
        width: 222px
        margin: 0 auto 105px
.text
    color: #5f5f5f
    font-size: 17px
    line-height: 1.3
    letter-spacing: .004em

.statistics
    background: url('../images/bg-pattern.jpg')
    background-size: cover
    color: white
    font-family: Work Sans,sans-serif
    &__container
        margin: 78px 120px
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    .item
        min-height: 50px
        padding: 30px 15px 0 0
        position: relative
        width: 273.02px
        &__icon
            display: inline-block
            position: absolute
        &__text
            display: inline-block
            margin-left: 72px
            .name
                text-transform: uppercase
                font-weight: 700
            .headline
                margin-bottom: 7px
                font-size: 1.25rem
    .icon
        font-family: Pe-icon-7-stroke
        font-size: 50px
    .icon_case::before
        content: "\e622"
    .icon_clock::before
        content: "\e66b"
    .icon_star::before
        content: "\e611"
    .icon_heart::before
        content: "\e642"

.portfolio
    display: flex
    flex-direction: column
    &__headline
        margin: 80px 0 20px 0
        text-align: center
        font-size: 2.6rem
    &__text
        margin: 0 325px
        text-align: center
        margin-bottom: 52px
    .projects
        margin-bottom: 80px
        display: grid
        grid-template-columns: 119.5px 1fr 1fr 1fr 119.5px
        grid-auto-columns: 369.98px 369.98px 369.98px
        height: 1080px
        grid-template-areas: ". item_1 item_2 item_3 ." ". item_4 item_5 item_6 ." ". item_7 item_8 item_9 ."
        .item
            background-size: cover
            background-position: 50% 50%
            position: relative
            color: white
            &_active
                width: 100%
                height: 100%
                position: absolute
                transition-duration: 0.5s
                display: flex
                align-items: center
                justify-content: center
                flex-direction: column
            &_active:hover
                cursor: pointer
                transition-duration: 0.5s
                background: rgba(0,0,0,.85)
            &_active:hover .item__text
                opacity: 1
                transition-duration: 0.5s
                transform: translateY(-5px)
                transition: transform .4s .3s,opacity .4s .3s
            &_active:hover .item__headline
                opacity: 1
                transition-duration: 0.5s
                transform: translateY(-5px)
                transition: transform .4s .2s,opacity .4s .2s
            &__headline
                text-align: center
                opacity: 0
                transform: translateY(5px)
                transition: .2s
                margin-bottom: 10px
                font-size: 1.69rem
            &__text
                text-align: center
                opacity: 0
                transform: translateY(5px)
                transition: .2s
        &__item_1
            grid-area: item_1
            background-image: url('../images/portfolio-7-sm.jpg')
        &__item_2
            grid-area: item_2
            background-image: url('../images/portfolio-4-sm.jpg')
        &__item_3
            grid-area: item_3
            background-image: url('../images/portfolio-5-sm.jpg')
        &__item_4
            grid-area: item_4
            background-image: url('../images/portfolio-9-sm.jpg')
        &__item_5
            grid-area: item_5
            background-image: url('../images/portfolio-3-sm.jpg')
        &__item_6
            grid-area: item_6
            background-image: url('../images/portfolio-8-sm.jpg')
        &__item_7
            grid-area: item_7
            background-image: url('../images/portfolio-2-sm.jpg')
        &__item_8
            grid-area: item_8
            background-image: url('../images/portfolio-6-sm.jpg')
        &__item_9
            grid-area: item_9
            background-image: url('../images/portfolio-12-sm.jpg')

.cursor_grabbing
    cursor: grabbing

.karusel
    background: url('../images/bg-pattern.jpg')
    background-size: cover
    color: white
    .box
        overflow: hidden
        width: 100%
        margin-top: 177px
        .activate
            left: 100%
        &_relative
            position: relative
            height: 204.094px
            cursor: grab
        &_absolute
            position: absolute
            width: 100%
            user-select: none
        &_active
            transition: .7s
        &__item
            max-width: 715px
            margin: auto
            text-align: center
            .quote
                font-size: 1.685rem
                line-height: 1.45
                font-family: Playfair Display,serif
            .quote::before
                content: "“ "
            .quote::after
                content: " ”"
            .autor
                font-family: Work Sans
                text-transform: uppercase
                font-size: .95rem
        .numberbox
            text-align: center
            margin: 87px 0 65px 0
            &__list
                list-style: none
                padding: 0
                .number
                    display: inline-block
                    height: 10px
                    width: 10px
                    background: white
                    border-radius: 50%
                    opacity: 0.25
                    transform: scale(0.6)
                .number_active
                    opacity: 1
                    transform: scale(1)
                    transition: .7s


.contact
    background-color: #f6f6f6
    &__box
        margin: 100px 119.5px 100px 119.5px
        display: flex
    &__container
        width: 41.666667%
        font-size: 14px
        margin-right: 30px
    .headline
        font-size: 2.6rem
        margin-bottom: 35px
        margin-top: 0px
    .sentence
        font-family: Work Sans
        line-height: 1.65
        letter-spacing: .004em
        color: #5f5f5f
        margin-bottom: 24px
    .info
        color: #5f5f5f
        font-family: Work Sans
        list-style-type: none
        margin: 0
        padding: 0
        &__item
            margin-bottom: 12px
        strong
            color: black
            padding-right: 5px
            font-size: 16px
    &__formcontainer
        width: 58.333333%
        .form
            width: 100%
            height: 100%
            display: flex
            flex-direction: column
            &__inputcontainer
                display: flex
                justify-content: space-between
            &__input
                width: 39.7%
            &__btn
                padding: 18px 25px
                font-size: .96rem
                font-weight: 500
                line-height: 1.2
                white-space: nowrap
                color: white
                width: 213px

.btn
    user-select: none
    text-transform: uppercase
    background-color: #252525
    border: 0
    text-align: center
    vertical-align: middle
    cursor: pointer
    text-decoration: none

.input
    padding: 16px 22px
    font-size: .95rem
    font-weight: 400
    line-height: 1.2
    background-color: #fff
    border: none
    margin-bottom: 30px
    font-family: Arial

.input:focus
    color: #55595c
    background-color: #fff
    border-color: #66afe9
    outline: 0

.textarea
    resize: vertical


.footer
    background-color: #ebebeb
    &__container
        margin: 44px auto 25px auto
        display: flex
        flex-direction: column
    &__text
        text-align: center
        .text
            margin: 0
            a
                color: black

@media (max-width: 1000px)
    .information
        .sentences
            margin: 0 60px
            &__headline
                font-size: 2rem
    
    .portfolio
        &__text
            margin: 0 140px 52px
        .projects
            grid-template-columns: 30px 1fr 1fr 30px
            height: 1800px
            grid-template-areas: ". item_1 item_2 ." ". item_3 item_4 ." ". item_5 item_6 ." ". item_7 item_8 ." ". item_9 . ."

    .contact
        &__box
            flex-direction: column
        &__container
            width: 100%
            margin-bottom: 30px
        &__formcontainer
            width: 100%

    .header
        .conteiner
            .navbar
                display: none
            .navbar_active
                display: block

@media (max-width: 880px)

    
    .about
        &__conteiner
            width: 80%

@media (max-width: 680px)
    .portfolio
        &__text
            margin: 0 60px 52px
        .projects
            grid-template-columns: 30px 1fr 30px
            height: 3240px
            grid-template-areas: ". item_1 ."  ". item_2 ." ". item_3 ." ". item_4 ." ". item_5 ." ". item_6 ." ". item_7 ." ". item_8 ." ". item_9 ."

    .contact
        &__box
            margin: 100px 30px
        &__formcontainer
            .form
                &__inputcontainer
                    flex-direction: column

    .karusel
        .box
            &__active
                transition: .4s
            &__item
                margin: 0 35px
                .quote
                    font-size: 1.2rem


@media (max-width: 817px)
    .statistics
        &__container
            justify-content: center
            margin: 78px 60px

@media (max-width: 416px)
    .statistics
        &__container
            margin: 78px 30px

    .contact
        .form
            &__btn
                width: 100%

    .portfolio
        .projects
            height: 2650px

@media (max-width: 450px)
    .header
        .conteiner
            margin: 0 40px

    .information
        .sentences
            &__topline
                font-size: 0.7rem
            &__headline
                font-size: 1.5rem

.navigation
    opacity: 0
    visibility: hidden
    width: 100%
    height: 100%
    position: fixed
    z-index: 10
    background: url('../images/bg-menu.jpg') 50% 50%
    background-size: cover
    transition-duration: 0.5s
    .cross
        display: inline-block
        width: 18px
        height: 18px
        color: #d8d8d8
        position: relative
        margin-right: 3px
    .cross::before
        position: absolute
        content: ""
        display: block
        height: 0
        border-bottom: 2px solid
        top: 50%
        left: 0
        transform-origin: 50% 50%
        transform: rotate(45deg)
        width: 21px
    .cross::after
        position: absolute
        content: ""
        display: block
        height: 0
        border-bottom: 2px solid
        top: 50%
        left: 0
        transform-origin: 50% 50%
        transform: rotate(-45deg)
        width: 21px
    .menu
        width: 100%
        position: fixed
        top: 40%
        font-family: Arial
        &__container
            margin: 0
            padding: 0
            text-align: center
        &__item
            user-select: none
            margin-bottom: 20px
        &__link
            color: #d8d8d8
            font-size: 2rem